:root {
    --primary: #6839dc;
    --light-primary: #ea23cf;
    --secondary: #872eff;
    --light-secondary: #ce7df2;
    --red: red;
    --black: #424280;
    --white: #fdfdfd;
    --dark-gray: #343334;
		--gray: #ecf7ff47;
    --light-gray: #efefef;
    --lighter-gray: #e4e2fb96;
    --font-sans-serif: system-ui, -apple-system, segoe ui, roboto, ubuntu, helvetica, cantarell, noto sans, sans-serif;
    --font-monospace: menlo, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new, monospace, serif;
    --border-radius: 0.2rem;
}

.small{
	font-size:12px;
}

textarea, select, input[type="text"] {
	background: transparent; /* linear-gradient( var(--lighter-gray), var(--gray) ) !important; */
}

input[type="submit"] {
	color: var(--light-gray);
}

.title {
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 20px;
}

#overlay{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	box-shadow: 0px 0px 10px #0004;
	opacity: 0.9;
  z-index:2000;
}

#overlay .logo{
  width: 92px;
  position: absolute;
  top: 7px;
  left: 93px;
}

#overlay > input[type="submit"]{
	height: 32px;
	font-size: 14px;
	position: absolute;
	right: 9px;
	top: 8px;
}

#overlay > #uri {
    height: 29px;
    font-size: 14px;
    position: absolute;
    left: 200px;
    top: 9px;
    max-width:550px;
    padding: 5px 0px 5px 5px;
    width: calc( 63% - 200px);
    background: #f0f0f0;
    border-color: #Ccc;
}

a#source{
  position: absolute;
  bottom: 29px;
  right: 20px;
  color: #888;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: underline;
  z-index:2000;
}

a#model{
  position: absolute;
  bottom: 29px;
  right: 130px;
  color: #888;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: underline;
  z-index:2000;
}

html.a-fullscreen a#model,
html.a-fullscreen a#source{
  margin-right:200px;
}

.render {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.lil-gui.autoPlace{
  right:0px !important;
  top:auto !important;
  bottom:0;
}

#VRButton {
  margin-bottom:20vh;
}

@media (max-width: 450px) {
  #uri{ display:none; }
}

@media (max-width: 640px) {
  .lil-gui.root{
    top:auto !important;
    left:auto !important;
  }
}
