:root {
    --primary: #6839dc;
    --light-primary: #ea23cf;
    --secondary: #872eff;
    --light-secondary: #ce7df2;
    --red: red;
    --black: #424280;
    --white: #fdfdfd;
    --dark-gray: #343334;
		--gray: #ecf7ff47;
    --light-gray: #efefef;
    --lighter-gray: #e4e2fb96;
    --font-sans-serif: system-ui, -apple-system, segoe ui, roboto, ubuntu, helvetica, cantarell, noto sans, sans-serif;
    --font-monospace: menlo, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new, monospace, serif;
    --border-radius: 0.2rem;
}

.small{
	font-size:12px;
}

textarea, select, input[type="text"] {
	background: transparent; /* linear-gradient( var(--lighter-gray), var(--gray) ) !important; */
}

input[type="submit"] {
	color: var(--light-gray);
}

.title {
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 20px;
}

#overlay{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	box-shadow: 0px 0px 10px #0004;
	opacity: 0.9;
  z-index:2000;
}

#overlay .logo{
  width: 92px;
  position: absolute;
  top: 7px;
  left: 93px;
}

#overlay > input[type="submit"] {
	height: 32px;
	font-size: 14px;
	position: absolute;
	right: 9px;
	top: 8px;
}
#overlay > button#navback,
#overlay > button#navforward {
  height: 32px;
  font-size: 14px;
  position: absolute;
  left: 9px;
  padding: 2px 13px;
  top: 8px;
  color: var(--light-gray);
}
#overlay > button#navforward {
  left:49px;
}

#overlay > #uri {
    height: 29px;
    font-size: 21px;
    position: absolute;
    left: 200px;
    top: 9px;
    max-width:550px;
    padding: 5px 0px 5px 5px;
    width: calc( 63% - 200px);
    background: #f0f0f0;
    border-color: #Ccc;
}

.btn-foot{
  background: white;
  border-radius: 10px;
  border: 5px solid #1c1c3299;
  padding: 0px 6px;
  position: absolute;
  font-weight: 1000;
  font-family: sans-serif;
  font-size:17px;
  color: #888;
  height:43px;
  z-index:2000;
  cursor:pointer;
  right: 10px;
  text-transform:uppercase;
  min-width:107px;
}

a.btn-foot#embed{
  color: #888;
  bottom: 129px;
}

a.btn-foot#model{
  bottom:72px;
}

a.btn-foot#more{
  bottom:72px;
  width: 60px;
  min-width:60px;
  text-align: center;
}

a.btn-foot#source{
  bottom:186px;
}

a#source,
a#embed,
a#model{
  display:none
}

html.a-fullscreen a.btn-foot {
  margin-right:10px;
}

html{
  max-width:unset;
}

.render {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.lil-gui.autoPlace{
  right:0px !important;
  top:48px !important;
  height:33vh;
}

#VRButton {
  margin-bottom:20vh;
}

@media (max-width: 450px) {
  #uri{ display:none; }
}

@media (max-width: 640px) {
  .lil-gui.root{
    top:auto !important;
    left:auto !important;
  }
}


/* notifications */
.js-snackbar-container {
    position: absolute;
    top: 10px;
    left: 0px;
    display: flex;
    align-items: center;
	width:100%;
    max-width: 100%;
    padding: 10px;
    z-index:1001;
	justify-content: center;
    overflow: hidden;
}

.js-snackbar-container * {
    box-sizing: border-box;
}

.js-snackbar__wrapper {
  --color-c: #555;
  --color-a: #EEE;
}


.js-snackbar__wrapper {
    overflow: hidden;
    height: auto;
    margin: 5px 0;
    transition: all ease .5s;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 #0007;
    left: 20px;
    position: fixed;
    bottom: 20px;
}

.js-snackbar {
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 3px;
    color: var(--color-c);
    font-size: 16px;
    background-color: var(--color-a);
    vertical-align: bottom;
}

.js-snackbar__close,
.js-snackbar__status,
.js-snackbar__message {
    position: relative;
}

.js-snackbar__message {
    padding: 12px;
}

.js-snackbar__status {
    display: none;
    width: 15px;
    margin-right: 5px;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
}

 .js-snackbar__status.js-snackbar--success,
 .js-snackbar__status.js-snackbar--warning,
 .js-snackbar__status.js-snackbar--danger,
 .js-snackbar__status.js-snackbar--info {
    display: block;
}

.js-snackbar__status.js-snackbar--success  {
    background-color: #4caf50;
}

.js-snackbar__status.js-snackbar--warning  {
    background-color: #ff9800;
}

 .js-snackbar__status.js-snackbar--danger {
    background-color: #ff6060;
}

.js-snackbar__status.js-snackbar--info {
    background-color: #CCC;
}

.js-snackbar__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    user-select: none;
}

.js-snackbar__close:hover {
    background-color: #4443;
}

.a-enter-vr-button, .a-enter-ar-button{
  height:41px;
}

#qrcode{
  z-index: 2000;
  position: absolute;
  border: 5px solid #1c1c3299;
  top: 66px;
  right: 20px;
  width: 175px;
  border-radius: 20px;
}

input#share{
  font-size:14px;
  font-family: monospace;
  border:2px solid #AAA;
  width:50vw;
  max-width:500px;
}
